# WalletConnect Project ID (Get one at https://cloud.walletconnect.com)
VITE_WALLETCONNECT_PROJECT_ID="trustfund-dev-placeholder"

# List of Admin Wallet Addresses (Comma separated, NO SPACES)
# These wallets can access the Validator Portal and have "Admin" rights.
VITE_ADMIN_VALIDATORS="0xYourAdminWalletAddress1,0xYourAdminWalletAddress2"

# List of Community Validator Addresses (Comma separated, NO SPACES)
VITE_USER_VALIDATORS="0xCommunityAddress1,0xCommunityAddress2"
